/* TodoItem.css */
.todo-item {
    background-color: #2d2d2d;
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .todo-item:not(:last-child) {
    border-bottom: 1px solid #3c3c3c;
  }
  
  .todo-item input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .item-title {
    margin-left: 10px;
  }
  